h1 {
    color: rgb(249, 79, 27);
    display: inline-block;
}

body {
    text-align: center;
    background-color: rgb(235, 255, 255);
    font-family: Tahoma, Verdana, sans-serif;
}

h3,
h4 {
    color: rgb(249, 79, 27);
    font-size: 20px;
    margin-bottom: 2px;
}

ol,
.dontcenter {
    text-align: left;
}

.dontcenter {
    margin-left: 15px;
    margin-bottom: -10px;
}

ul {
    background-color: rgb(255, 76, 151);
    width: 350px;
    margin: 0px auto;
    border: 4px dashed rgba(165, 42, 42, 0.202);
    color: rgb(235, 255, 255);
    padding: 0px 0px;
    list-style-type: none;
    /* lists have left padding by default*/
}

.larger {
    font-size: 25px;
}

p {
    margin-top: -3px;
}

.short {
    margin: 5px 70px;
    background-color: orange;
    text-align: center;
    color: rgb(190, 255, 255);
    padding: 2px 0px;
}

a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

a:visited {
    color: inherit;
}

.home{
    display: inline-block;
    font-size: 20px;
}

.title{
    display: inline-block;
    margin-left:400px;
    font-size: 18px;
    margin-bottom: -20px;
}